.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  gap: 2rem; /* Adds spacing between left, center, right sections */
}

/* Left: Logo */
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  flex: 2;
}


.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: right;
  flex: 12;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #ffe7ff;
}


.navbar-icons {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  flex: 1;
}

.navbar-icons a {
  font-size: 1.25rem;
  color: white;
  transition: color 0.3s ease;
}

.navbar-icons a:hover {
  color: #ffe7ff;
}
